<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>

</head>

<body>
    <h1>Gotta Cath 'Em all</h1>
    <h2><%= pokemon.name %></h2>
    <img src="<%= pokemon.img %>" alt="Why is it not showing the picture???">
    <br><br>
    <a href="/pokemon/">back</a>


</body>

</html>